@font-face{
  font-family: 'icomoon';
  src: url('../resources/fonts/icomoon/icomoon.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
  font-family: 'Montserrat', sans-serif;
}


*::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #7de62f;
}

html, body, #root, #root > div {
  height: 100%
}
.width100{
  width: 100%;
}

.navBar{
  background: #b1e28da3;
  height: 60px;
  border-bottom: 1px solid black;
}
.centerVertical{
  display: flex;
  justify-content: center;
  text-align: center;
}
ol{
  display: flex;
  width: fit-content;
  height: inherit;
  margin: auto;
}
a{
  color: black;
  text-decoration: none;
}
li{
  width: 225px;
  list-style-type: none;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  padding: 15px 13px;
  cursor: pointer;
  height: 30px;
}
li:hover{
  background: #b0e28d;
  font-weight: 900;
  border-radius: 3px;
}
hr{
  border-left: 1px solid #000;
}
.logo{
  margin: 0 10px;
  background-size: 34px 31px;
  background-color: none;
  background-repeat: no-repeat;
}
.graph{
  background-image: url('../resources/images/algorithm.png');
}
.admin{
  background-image: url('../resources/images/modeling.png');
}
li > a {
  width: 100%;
  height: 100%;
  padding-top: 3px;
  padding-left: 10px;
}
li > a > span.text{
  padding-top: 2px;
  height: fit-content;
  width: calc(100% - 65px);
}
.marginAuto{
  margin: auto;
}
.displayFlex{
  display: flex;
}
.redRequired{
  color: #da0000;
}
.btnW .btn-warning{
  top: 213px;
}
.btn-warning{
  position: absolute;
  top: 167px;
  left: 258px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background-color: #f1f1f1;
  background-image: url('../resources/images/dustbin.png');
  background-repeat: no-repeat;
  background-size: 22px 18px;
  height: 25px;
  width: 25px;
  background-position: 1px 3px;
  cursor: pointer;
}
.btn-warning:hover{
  background-color: #cccccc;
}
.react-bs-table-container{
  height: 75px;
}

html, body, #container {
  height: 100%;
}

.hidden {
  display: none;
}

.panel {
  background-color: #fafafa;
  border: solid 1px #ccc;
  border-radius: 2px;
  font-family: 'Arial', sans-serif;
  padding: 10px;
}

.labelText{
  color: #cc0000;
  background: #52B415;
}
.djs-label {
  font-family: 'Arial', sans-serif;
  color: black;
}

.bpmn-icon-task.icon-must::before{
  font-family: 'icomoon';
  content: '\63';
  padding-bottom: 6px;
}

.bpmn-icon-task.icon-flexible::before{
  font-family: 'icomoon';
  content: '\61';
  padding-bottom: 6px;
}

.bpmn-icon-task.icon-optional::before{
  font-family: 'icomoon';
  content: '\64';
  padding-bottom: 6px;
}

.bpmn-icon-event {
  border-radius: 30px;
}

.bpmn-icon-task.red {
  color: #cc0000 !important;
}

.bpmn-icon-task.yellow {
  color: #f0e8ce !important;
}

.bpmn-icon-task.green {
  color: #52B415 !important;
}

#quality-assurance {
  color: #111;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#quality-assurance #form input {
  border: solid 1px #ccc;
  border-radius: 2px;
  font-family: 'Arial', sans-serif;
  padding: 10px;
}

#quality-assurance #form input[type=text] {
  width: 100%;
}

#quality-assurance #form #warning {
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 2px;
  padding: 10px;
}

#quality-assurance #form input[type=submit] {
  background-color: #FAFAFA;
  color: #111;
}

#hint {
  bottom: 20px;
  left: 20px;
  position: absolute;
}

.bpmn-icon-start-event-none, .bpmn-icon-intermediate-event-none, 
.bpmn-icon-end-event-none, .bpmn-icon-gateway-none, .bpmn-icon-lasso-tool
.bpmn-icon-subprocess-expanded, .bpmn-icon-data-store,
.bpmn-icon-data-object, .bpmn-icon-subprocess-expanded, .bpmn-icon-task, 
.bpmn-icon-screw-wrench, path.pathClass{
  display: none !important;
}
.custom-icon{
  display: block !important;
}
.bpmn-icon-connection-multi:before {
    content: '\E810' !important;
}
